.button
  position: relative
  font-size: 1.1rem
  line-height: 7.2rem

  display: inline-block
  width: 30.4rem
  padding: 0 3rem

  color: #000
  text-decoration: none
  text-transform: uppercase
  background: $cYellow

  box-sizing: border-box
  transition: color .15s ease-out

  &:hover
    color: #5f5f5f

  &::after
    arrow()

    position: absolute
    top: 50%
    right: 3rem

    margin-top: -0.5 * $arrowWidth
