@font-face
  font-family: 'Circe'
  font-style: normal
  font-weight: normal
  src: url('../../lib/fonts/circe.woff') format('woff')

@font-face
  font-family: 'Circe Extra Light'
  font-style: normal
  font-weight: normal
  src: url('../../lib/fonts/circe-extra-light.woff') format('woff')
