@font-face
  font-family: 'Circe'
  font-style: normal
  font-weight: normal
  src: url('../../lib/fonts/circe.woff') format('woff')

@font-face
  font-family: 'CirceExtraLight'
  font-style: normal
  font-weight: normal
  src: url('../../lib/fonts/circe-extra-light.woff') format('woff')

@font-face
  font-family: 'CirceBold'
  font-style: normal
  font-weight: normal
  src: url('../../lib/fonts/circe-bold.woff') format('woff')

@font-face
  font-family: 'CirceLight'
  font-style: normal
  font-weight: normal
  src: url('../../lib/fonts/circe-light.woff') format('woff')
