arrow()
  content: ''
  display: inline-block

  width: $arrowWidth
  height: @width
  margin-bottom: -.8rem

  background-repeat: no-repeat
  background-position: top center
  background-size: cover
  background-image: url('../../lib/images/arrow@2x.png')
