arrow()
  content: ''
  display: inline-block

  width: $arrowWidth
  height: @width
  margin-bottom: -.8rem

  background-repeat: no-repeat
  background-position: top center
  background-size: cover
  background-image: url('../../lib/images/arrow@2x.png')

section()
  margin: 0 auto
  padding: $pOffsetX
  max-width: $pMaxWidth
  min-width: $pMinWidth
  width: 100%

  box-sizing: border-box

  @media (max-width: $isMobile)
    &
      padding: $pMobileOffsetX
