.header
  section()

  padding: 4.8rem $pOffsetX
  min-height: 64rem

  background-repeat: no-repeat
  background-position: 85% 0
  background-size: cover
  background-image: url('../../lib/images/header-bg.jpg')

  color: #fff

  user-select: none

  @media (max-width: $isMobile)
    &
      padding: $pMobileOffsetX

  &-title
    font-family: CirceExtraLight, sans-serif
    font-size: 6.6rem
    font-weight: 400
    line-height: 110%

    margin-top: 21.5rem

    @media (max-width: $isTablet)
      &
        font-size: 4rem
        line-height: 120%

        margin-top: 25.5rem

  &-subtitle
    font-family: CirceExtraLight, sans-serif
    font-size: 3rem
    font-weight: 400
    line-height: 134%

    margin: 2rem 0 3.65rem
    color: #9b9b9b

    @media (max-width: $isTablet)
      &
        font-size: 2.4rem
        margin-bottom: 3rem

  &-logo
    display: block
    width: 10.4rem
    height: 5.6rem

    float: left

    background-repeat: no-repeat
    background-position: top center
    background-size: @width auto
    background-image: url('../../lib/images/logo.svg')

  &-settings
    font-family: Circe, sans-serif
    font-size: 1.1rem
    line-height: 146%
    letter-spacing: .1rem

    margin-top: .8rem
    float: right

    text-transform: uppercase

    @media (max-width: $isMobile)
      &
        display: none

    &-lang
      margin-right: 3.5rem
      cursor: pointer

      &::after
        arrow()
        transform: rotate(90deg)

    &-website
      color: $cYellow
      text-decoration: none
