.goods
  section()

  background: #fff
  user-select: none

  &-fillcart
    goodsListButton()

.list
  font-size: 1.6rem

  border-collapse: collapse

  @media (max-width: $isTablet)
    &
      font-size: 1.3rem

  &-item
    font-family: CirceLight, sans-serif

    &-prop
      padding: 1rem 0

      border-top: .1rem solid rgba(151, 151, 151, .3)
      vertical-align: middle

      &-name
        font-family: CirceExtraLight, sans-serif
        width: 50rem
        max-width: 100%

      &-price,
      &-count
        width: 10rem
        white-space: nowrap

        @media (max-width: $isMobile)
          &
            white-space: normal
            width: auto

      &-count
        text-align: center

      & + &
        padding-left: 1rem

        @media (max-width: $isMobile)
          &
            padding-left: .5rem

    &-sort &-prop
      font-family: CirceBold, sans-serif
      cursor: pointer

    &:first-child &-prop
      border-top: none

    &-add,
    &-remove
      goodsListButton()

    &-remove
      background: $cRed
