.payment-systems
  section()

  padding: 4.5rem $pOffsetX

  text-align: center
  background-color: #fff

  user-select: none

  &-title
    font-family: Circe, sans-serif
    font-size: 4rem
    line-height: 120%

    @media (max-width: $isMobile)
      font-family: CirceBold, sans-serif
      font-size: 3rem
      line-height: 134%

      padding: 0 8rem

  &-icons
    position: relative
    margin-top: 2.9rem

    @media (max-width: 690px)
      margin-top: 1.5rem

      overflow: hidden
      white-space: nowrap

    &-list
      list-style: none

    &-item
      display: inline-block
      margin: 2.5rem 4rem

      @media (max-width: 690px)
        margin: 2.5rem 0
        width: 100%

    &-bt
      position: absolute
      top: 0

      display: none
      width: 8rem
      height: 100%

      background-repeat: no-repeat
      background-size: 2.4rem auto
      background-position: left center

      cursor: pointer

      @media (max-width: 690px)
        &
          display: block

      &-left
        left: 0
        background-image: url('../../lib/images/arrow-left@2x.png')

      &-right
        right: 0
        background-position: right center
        background-image: url('../../lib/images/arrow-right@2x.png')
