.footer
  section()

  padding: 0
  background-color: #232323

  @media (max-width: $isMobile)
    &
      padding: 0

  &-section
    section()

    border-top: .1rem solid rgba(151, 151, 151, 0.3)

.social
  line-height: 8.8rem
  text-align: center

  &-item
    display: inline-block
    width: 2rem
    height: @width
    margin: 0 .7rem

    background-repeat: no-repeat
    background-position: center
    background-size: contain
    background-image: url('../../lib/images/header-bg.jpg')

    @media (max-width: 330px)
      &
        margin: 0 .6rem

    for social in ('vk' 'ok' 'tw' 'fb' 'yt' 'in' 'ks' 'ig' 'gg')
      &__{social}
        background-image: url('../../lib/images/' + social + '.png')

        if social == 'yt'
          width: 2.7rem

        if social == 'vk'
          width: 3.2rem

.copyright
  display: table

  font: 1.1rem/146% Arial
  color: #616161

  user-select: none

  @media (max-width: $isTablet)
    &
      text-align: center

  &-info
    display: table-cell
    vertical-align: top

    @media (max-width: $isTablet)
      &
        display: block

    &-item + &-item
      margin-top: 2rem

    &-link
      &:link,
      &:visited,
      &:hover,
      &:active
        color: #616161

  &-icons
    display: table-cell
    padding-left: 7rem

    text-align: right
    vertical-align: top
    white-space: nowrap

    @media (max-width: $isTablet)
      &
        display: block
        text-align: center
        padding-left: 0

      &-separator
        display: none

    @media (max-width: 560px)
      &
        display: none

    &-item
      vertical-align: middle
      margin-bottom: 2rem

      @media (max-width: $isTablet)
        &
          margin-top: 3rem

    &-item + &-item
      margin-left: 3rem
